<meta charset="utf-8">
<meta name="description" content="{{description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{title}}</title>

<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="196x196" href="img/touch/chrome-touch-icon-196x196.png">

<!-- Add to homescreen for Safari on iOS -->
<!-- https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{apptitle}}">

<!-- Add touch icon on iOS -->
<!-- http://mathiasbynens.be/notes/touch-icons -->		
<link rel="apple-touch-icon" sizes="120x120" href="img/touch/">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/touch/">
<link rel="apple-touch-icon" href="img/touch/">
<link rel="apple-touch-icon-precomposed" href="img/touch/">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="img/touch/ms-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#3372DF">

<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
<!-- build:css css/main.min.css -->
<link rel="stylesheet" href="css/main.css">
<!-- endbuild -->